# 1. Bibliotheken importieren

In [5]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# 2. Daten importieren

In [6]:
total_2016 = pd.read_excel('LVA_2016.xlsx')

In [7]:
total_2017 = pd.read_excel('LVA_2017.xlsx')

### Wie viele Daten sind enthalten?

In [8]:
total_2016.shape

(55, 3)

In [9]:
total_2017.shape

(57, 3)

### Daten einzeln nach Thema importieren

#### 1. LVA nach Beruf

In [21]:
berufe_2016 = pd.read_csv('LVA_2016_Berufe_neu.csv')
berufe_2016.head(5)

,Unnamed: 0,Berufsgruppen,Berufe,Total Lernende,Anzahl Lernende mit LVA,LVA-Quote
0,NaN,NaN,NaN,60’458,12’508,20.7
1,211,Audiovisuelle Techniken und Medienproduktion,NaN,938,218,23.2
2,NaN,NaN,Flexodrucker/in EFZ,9,*,*
3,NaN,NaN,Printmedienpraktiker/in EBA,36,6,16.7
4,NaN,NaN,Printmedienverarbeiter/in EFZ,43,17,39.5

In [11]:
berufe_2017 = pd.read_csv('LVA_2017_Berufe_neu.csv')

#### 2. LVA nach Geschlecht

In [32]:
geschlecht_2016 = pd.read_csv('LVA_2016_Geschlecht.csv')

In [45]:
geschlecht_2017 = pd.read_csv('LVA_2017_Geschlecht.csv')

#### 3. LVA nach Kanton

In [46]:
kanton_2016 = pd.read_csv('LVA_2016_Kantone.csv')

In [47]:
kanton_2017 = pd.read_csv('LVA_2017_Kanton.csv')

#### 4. LVA nach Nationalität

In [48]:
nationalität_2016 = pd.read_csv('LVA_2016_Nationalität.csv')

In [49]:
nationalität_2017 = pd.read_csv('LVA_2017_Nationalität.csv')

#### 5. LVA nach Zeitpunkt

In [51]:
zeitpunkt_2016 = pd.read_csv('LVA_2016_Zeitpunkt.csv')

In [52]:
zeitpunkt_2017 = pd.read_csv('LVA_2017_Zeitpunkt.csv')

# 3. Entwicklung LVA ermitteln

### Entwicklung nach Beruf

1. Schritt: Tabelle 2016 und 2017 verbinden

In [48]:
entw_beruf = pd.merge(berufe_2016,berufe_2017, how='outer', on='Unnamed: 0')

In [63]:
entw_beruf

,Unnamed: 0_x,Berufsgruppen_x,Berufe,Total Lernende_x,Anzahl Lernende mit LVA_x,LVA-Quote_x,Unnamed: 0_y,Berufsgruppen_y,Total Lernende_y,Anzahl Lernende mit LVA_y,LVA-Quote_y
1569,NaN,NaN,Strassentransportfachmann/-frau EFZ,200,62,31,NaN,NaN,173.0,40,23.1
1568,NaN,NaN,Matrose/Matrosin der Binnenschifffahrt EFZ,4,*,*,NaN,NaN,4.0,*,*
1567,NaN,NaN,Seilbahn-Mechatroniker/in EFZ,22,*,*,NaN,NaN,16.0,*,*
1566,NaN,NaN,Seilbahner/in EBA,3,*,*,NaN,NaN,5.0,*,*
1565,NaN,NaN,Fachmann/-frau Bewegungs- und Gesundheitsförde...,40,15,37.5,NaN,NaN,69.0,25,36.2

In [68]:
x = (entw_beruf['LVA-Quote_x']/entw_beruf['LVA-Quote_y']*100-1)

TypeError: unsupported operand type(s) for /: 'str' and 'str'